/proxeus
*.test
*.prof
cmd/proxeus/proxeus
cmd/remote_write_exporter/remote_write_exporter
build/*
.idea
.claude
/debug
/.policy.yml
/tmp/
/cmd/proxeus/robust.yaml
/cmd/proxeus/test.yaml
/cmd/proxeus/vm.yaml
/cmd/proxeus/alert_example_dupe.rule